*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root{
    font-size: 15px;
}

header{
    height: max-content;
    background-image: url(../img/imagenes/header/botellas.jpg);
    background-size: cover;
    height: 35em;
}

nav{
    position: relative;
}

.nav-contenedor-ul{
    height: max-content;
    width: 100%;
    list-style: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
}

.nav-contenedor-ul a{
    font-family:Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
    font-size: 0.8em;
    font-weight: 600;
    text-decoration: none;
    color: rgb(227, 146, 40);
    margin: 3.5em 1em;
    display: flex;
}

.nav-contenedor-ul li :hover{
    transform: scale(1.1);
    transition: 0.5s;
    color: rgb(255, 205, 140);
}

.nav-contenedor-div img{
    position: relative;
    width: 4em;
    height: 4em;
    margin: 2em;
    bottom: 0.8em;
}

.nav-contenedor-buscador img, .nav-contenedor-carrito img{
    width: 2.5em;
    height: 2.5em;
    margin: 2em;
}

h1{
    font-size: 5em;
    font-family: 'Raleway', sans-serif;
    color: rgb(236, 98, 0);
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

main{
    background-color: black;
    height: max-content;
}

.main-contenedor-tarjetas{
    height: max-content;
    display: grid;
    grid-template-areas: 
    "vinos vinos vodkas"
    "whiskies cervezas cervezas"
    "aperitivos aperitivos extras"
    ;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 25em 25em 25em;
    grid-column-gap:2em;
    grid-row-gap: 2em;
    justify-content: center;
    padding: 15em 5em;
}

.tarjetas-productos{
    border: 0.2em solid black;
    border-radius: 1em;
    position: relative;
    background-size: cover;
    background-position: center;
}

.tarjeta-h2{
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    color: rgb(255, 174, 0);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
